@font-face {
  font-family: "DINPro";
  src: url("fonts/DINPro-Regular.otf");
}

body{
  background: white;
}

.horiz{
  width: 100vw;
  height: 1em;
  /* margin-bottom: 1em; */
  background: rgba(183, 39, 194, .2);
  display: block;
  position: relative;
}
.horizWhite{
  width: 100vw;
  height: 1em;
  /* margin-bottom: 1em; */
  background: transparent;
  display: block;
  position: relative;
}

.vert{
  width: 1em;
  height: 100vh;
  margin-right: 1em;
  background: rgba(39, 224, 24, .2);
  display: inline-block;
  top: .5em;
  left: .5em;
  position: fixed;
}

.vertWebring{
  width: 1em;
  height: 100vh;
  margin-right: 1em;
  background: rgba(39, 224, 24, .2);
  display: inline-block;
  top: .5em;
  right: 7.5em;
  position: fixed;
}

.gap{
  width: 100vw;
  height: 18em;
  background: transparent;
  display: block;
  position: relative;
}

h1, h2{
  color: rgba(38, 193, 128, .2);
  font-family: "DINPro", sans-serif;
  font-size: 5em;
}


a{
  font-family: "DINPro", sans-serif;
  text-decoration: none;
  color: rgba(138, 28, 183, .4);
}

a:visited{
  color: rgba(138, 28, 183, .4);
}

#title h1{
  top: -.7em;
  left: 2em;
  position: absolute;
}

#weekly h2{
  top: 2.8em;
  left: 2.2em;
  position: absolute;
}

#reading h2{
  top: 11em;
  left: 2.2em;
  position: absolute;
}

#projects h2{
  top: 17.1em;
  left: 2.2em;
  position: absolute;
}

#exercises h2{
  top: 21.8em;
  left: 2.2em;
  position: absolute;
}

.webring{
  position: absolute;
  top: 5.6em;
  right: 1.5em;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  font-family: 'DINPro', sans-serif;
  color: rgba(38, 193, 128, .4);
  line-height: normal;
  margin-left: 11em;
  /* padding-left: 4em;
  text-indent: -2.5em; */
}


#underbed{
  position: absolute;
  background: white;
  width: 2.1em;
  height: .8em;
  top: 37em;
  left: 14.35em;
  z-index: 5;
}
