@font-face{
  font-family: "Gabriola";
  src: url("fonts/Gabriola.ttf");
}

body{
  background: #001100;
}

.object{
  position: absolute;
}

.bunnybody{
  width: 7em;
  height: 10em;
  background: burlywood;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  top: 60vh;
  left: 50%;
  z-index: -5;
}

.bunnybody .bunnypaw{
  width: 1.3em;
  height: 1.5em;
  display: inline-block;
  margin: .9em;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-bottom: darkgoldenrod solid 2px;
  border-left: darkgoldenrod solid 2px;
  border-right: darkgoldenrod solid 2px;
  background: burlywood;
  z-index: 15;
  -webkit-animation: 2s breathe infinite alternate ease-in-out;
}

.bunnybody .bunnypaw .finger1{
  width: 1px;
  height: .7em;
  background: black;
  margin-left: .4em;
  margin-right: .23em;
  margin-top: .7em;
  z-index: 15;
}

.bunnybody .bunnypaw .finger2{
  width: 1px;
  height: .7em;
  background: black;
  margin-top: .3em;
  position: relative;
  left: .9em;
  top: -1em;
  z-index: 15;
}

.bunnybody .eye{
  background: black;
  width: .7em;
  height: .7em;
  display: inline-block;
  margin: 1.26em 1.26em;
  border-radius: 50%;
  top: 0em;
  -webkit-animation: 2s breatheeyes infinite alternate ease-in-out;
}

.bunnybody #teeth{
  width: 2em;
  height: 1em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: white;
  position: relative;
  top: -4.8em;
  left: 2.35em;
}

.bunnybody #teeth #toothline{
  width: 3px;
  height: .9em;
  background: black;
  position: relative;
  left: .9em;
  top: .1em;
}

.bunnybody .foot{
  width: 2.5em;
  height: 1.5em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top: darkgoldenrod solid 2px;
  border-left: darkgoldenrod solid 2px;
  border-right: darkgoldenrod solid 2px;
  background: burlywood;
  position: relative;
  top: .22em;
  left: .6em;
  display: inline-block;
  z-index: 10;
  -webkit-animation: 2s breathefeet infinite alternate ease-in-out;
}

.bunnybody .foot .finger1{
  width: 1px;
  height: .7em;
  background: black;
  margin-left: .4em;
  margin-right: .23em;
  margin-top: .7em
}

.bunnybody .foot .toe2{
  width: 1px;
  height: .7em;
  background: black;
  margin-left: .4em;
  margin-right: .23em;
  margin-top: .7em;
  position: relative;
  left: .8em;
  top: -1.4em;
}

.bunnybody .foot .toe3{
  width: 1px;
  height: .7em;
  background: black;
  margin-left: .4em;
  margin-right: .23em;
  margin-top: .7em;
  position: relative;
  left: 1.6em;
  top: -2.8em;
}

.bunnybody #nose{
  width: 1em;
  height: .5em;
  border-radius: 50%;
  background: rgb(255,153,163);
  position: relative;
  top: -8em;
  left: 2.8em;
  -webkit-animation: 2s breathenose infinite alternate ease-in-out;
}

.bunnybody #belly{
  width: 4em;
  height: 6.5em;
  background: white;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 3.5em;
  left: 1.4em;
  z-index: -3;
  -webkit-animation: 2s breathe infinite alternate ease-in-out;
}

.bunnybody #antlermainR{
  /* width: 3em;
  height: 6em;
  transform: rotate(40deg);
  border-radius: 50%;
  border-bottom: #86592d solid 3px;
  border-right: #86592d solid 3px;
  position: absolute;
  top: -4.5em;
  left: 5.7em; */

  width: 5em;
  height: 5em;
  position: absolute;
  top: -3.8em;
  left: -4.8em;
  transform: rotate(-17deg);
}

.bunnybody #antlermainR #antler1R{
  width: 1.5em;
  height: 2.5em;
  transform: rotate(50deg);
  border-radius: 50%;
  border-bottom: #86592d solid 3px;
  border-right: #86592d solid 3px;
  position: absolute;
  top: 2.5em;
  left: 2em;
}

.bunnybody #antlermainL{
  /* width: 3em;
  height: 6em;
  transform: rotate(-40deg);
  border-radius: 50%;
  border-bottom: #86592d solid 3px;
  border-left: #86592d solid 3px;
  position: absolute;
  top: -4.3em;
  left: -2.1em; */
  width: 5em;
  height: 5em;
  position: absolute;
  top: -6.8em;
  left: -3.7em;
  transform: rotate(17deg);
}

.bunnybody #antlermainL #antler1L{
  width: 1.5em;
  height: 2.5em;
  transform: rotate(-50deg);
  border-radius: 50%;
  border-bottom: #86592d solid 3px;
  border-left: #86592d solid 3px;
  position: absolute;
  top: 3.5em;
  left: 2.2em;
}

#bush1{
  width: 30em;
  height: 22em;
  background: green;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 40%;
  left: 14em;
  border: green solid 2px;
}

#bush2{
  width: 30em;
  height: 22em;
  background: green;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 40%;
  left: 14em;
  border: green solid 2px;
}

#bush3{
  width: 30em;
  height: 22em;
  background: green;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 40%;
  left: 14em;
  border: green solid 2px;
}

#bush4{
  width: 30em;
  height: 22em;
  background: green;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 40%;
  left: 14em;
  border: green solid 2px;
}

#bush5{
  width: 30em;
  height: 22em;
  background: green;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  top: 40%;
  left: 14em;
  border: green solid 2px;
}

#text{
  font-size: 22pt;
  font-family: 'Gabriola',sans-serif;
  color: white;
  padding: 10px;
}

#carrot {
	width: 3em;
	height: 1em;
	border-top: .5em solid transparent;
	border-left: 4em solid orange;
	border-bottom: .5em solid transparent;
  border-top-right-radius: 50%;
  position: absolute;
	top: 80%;
	left: 16em;
	transform: rotate(16deg);
	z-index: -3;
  display: none;
}

#carrot2 {
	width: 3em;
	height: 1em;
	border-top: .5em solid transparent;
	border-left: 4em solid #ff8533;
	border-bottom: .5em solid transparent;
  border-top-right-radius: 50%;
  position: absolute;
	top: 80%;
	left: 17em;
	transform: rotate(-20deg);
	z-index: -3;
  display: none;
}

#carrot3 {
	width: 3em;
	height: 1em;
	border-top: .5em solid transparent;
	border-left: 4em solid purple;
	border-bottom: .5em solid transparent;
  border-top-right-radius: 50%;
  position: absolute;
	top: 80%;
	left: 14.5em;
	transform: rotate(-5deg);
	z-index: -4;
  display: none;
}

#yuck{
  font-family: 'Gabriola',sans-serif;
  font-style: italic;
  font-size: 16pt;
  transform: rotate(-20deg);
  position: absolute;
  top: 63vh;
  left: 60%;
  color: white;
  display: none;
}

#yum{
  font-family: 'Gabriola',sans-serif;
  font-style: italic;
  line-height: 13pt;
  font-size: 16pt;
  transform: rotate(-10deg);
  position: absolute;
  top: 63vh;
  left: 60%;
  color: white;
  display: none;
}

#back a{
  font-family: sans-serif;
  color: forestgreen;
  position: fixed;
  top: 1em;
  right: 1em;
  text-decoration: none;
}

#poopbase{
  height: 1.5em;
  width: 3em;
  background: lavender;
  border: purple dashed 1px;
  border-radius: 50%;
  left: 52%;
  top: 80vh;
  position: absolute;
  display: none;

}

#poopbase #poopmedium{
  height: .8em;
  width: 2em;
  background: lavender;
  border: purple dashed 1px;
  border-radius: 50%;
  left: .45em;
  top: -.4em;
  position: absolute;
  display: none;

}

#poopbase #pooptop{
  height: .5em;
  width: .8em;
  background: lavender;
  border: purple dashed 1px;
  border-radius: 50%;
  left: 1em;
  top: -.8em;
  position: absolute;

  display: none;
}

@-webkit-keyframes breathe{
 from{
   transform: scaleX(1);
 }
 to{
   transform: scaleX(1.1);
 }
}

@-webkit-keyframes breathenose{
 from{
   top: -8em;
 }
 to{
   top: -8.3em;
 }
}

@-webkit-keyframes breathefeet{
 from{
   top: .22em;
 }
 to{
   top: .55em;
 }
}

@-webkit-keyframes breatheeyes{
 from{
   margin: 1.26em 1.26em;
 }
 to{
   margin: 1.1em 1.26em;
 }
}
