@font-face {
  font-family: "DINPro";
  src: url("fonts/DINPro-Regular.otf");
}

h1{
  text-align: center;
  font-family: 'DINPro';
}

#rc i{
  font-family: 'DINPro';
  font-size: 11pt;
  color: #3b8ae4;
  max-width: 1000px;
}

#rd {
  font-family: 'DINPro';
  font-size: 11pt;
  color: #e9fda2;
  margin-left: 10px;
}

#re {
  font-family: 'DINPro';
  font-size: 11pt;
  color: #38cb32;
  margin-left: 10px;
  margin-right: 20px;
}

p{
  font-family: 'DINPro';
  font-size: 11pt;
  max-width: 1000px;
  padding: 20px;
}

a{
  font-family:'DINPro';
  font-size: 11pt;
}
