body{
  background: black;
  font-family: sans-serif;
}

h1{
  position: absolute;
  font-size: 12pt;
  color: white;
  top: .2em;
  left: 1em;
}

.dark{
  width: 100%;
  height: 45em;
  margin-top: 0em;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 100;
  pointer-events: none; /*will allow stuff underneath to be clickable*/
}

.canvas {
	width: 55em;
	height: 35em;
	margin: 4em auto;
	background: white;
	position: relative;
	z-index: 1;
}

.object{
	position: absolute;
  opacity: 50%;
}

#wall{
	width: 55em;
	height: 35em;
  z-index: 5;
}

#wall #left{
	border-left: 7em solid beige;
	border-top: 7em solid transparent;
	border-bottom: 9.5em solid transparent;
	height: calc(100% - 16.5em);
	width: 0;
}

#wall #right{
	border-right: 7em solid beige;
	border-top: 7em solid transparent;
	border-bottom: 9.5em solid transparent;
	height: calc(100% - 16.5em) ;
	width: 0;
  right: 0;
}

#wall #ceiling{
	border-top: 7em solid #f9f9eb;
	border-left: 7em solid transparent;
	border-right: 7em solid transparent;
  width: calc(100% - 14em);
	height: 0;
}

#wall #floor{
	border-bottom: 9.5em solid saddlebrown;
	border-left: 7em solid transparent;
	border-right: 7em solid transparent;
  width: calc(100% - 14em);
	height: 0;
  bottom: 0;
}

#carpet{
  border-bottom: 7em solid #444422;
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
  width: 35em;
	height: 0em;
  z-index: 10;
  left: calc((55em - 45em)/2);
  bottom: 2em;
}

#flood{
  border-bottom: 9.5em solid rgba(0, 102, 255, .8);
	border-left: 7em solid transparent;
	border-right: 7em solid transparent;
  width: calc(100% - 14em);
	height: 0;
  bottom: 5em;
  z-index: 70;
}

#flood #wall{
  background: rgba(0, 102, 255, .8);
	width: calc(100% + 14em);
	height: 5em;
  bottom: calc(-9.5em - 5em);
  right: -7em;
}

#floodtall{
  background: rgba(0, 102, 255, .8);
	width: 100%;
	height: 95%;
  bottom: 0;
  z-index: 70;
}

/*window stuff*/

#window{
  width: 7em;
  height: 10em;
  background: powderblue;
  left: 32em;
  top: 10em;
  z-index: 10;
}

#window #frame{
  width: 6.5em;
  height: 9.5em;
  border: .5em solid #e5e5e5;
}

#window #frame #closed{
	width: 6.5em;
	height: .5em;
	background: #f5f5f5;
	top: 50%;
}

#window #frame #open{
	width: 6.5em;
	height: 4.75em;
  border-bottom: .5em solid #f5f5f5;
	bottom: 70%;
}

#window #curtainleft {
  width: 0em;
  height: 0px;
  border-right: 7em solid transparent;
  border-top: 7em solid transparent;
  border-left: 7em solid transparent;
  border-bottom: 7em solid blue;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 7em;
  transform: rotate(315deg);
  top:-6.5em;
  left:-7em;
}

#window #curtainleftdrawn {
  width: 0em;
  height: 0px;
  border-right: 5em solid transparent;
  border-top: 1.7em solid transparent;
  border-left: 5em solid transparent;
  border-bottom: 1.7em solid blue;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 6em;
  border-bottom-right-radius: 2em;
  transform: rotate(270deg);
  top:3.3em;
  left:-5em;
}

#window #curtainright {
  width: 0em;
  height: 0px;
  border-right: 7em solid transparent;
  border-top: 7em solid transparent;
  border-left: 7em solid transparent;
  border-bottom: 7em solid mediumblue;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 7em ;
  border-bottom-right-radius: 2.5em;
  transform: rotate(45deg);
  top:-6.5em;
  right:-7.5em;
}

#window #curtainrightdrawn {
  width: 0em;
  height: 0px;
  border-right: 5em solid transparent;
  border-top: 1.7em solid transparent;
  border-left: 5em solid transparent;
  border-bottom: 1.7em solid blue;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 2em ;
  border-bottom-right-radius: 6em;
  transform: rotate(90deg);
  top:3.3em;
  right:-5.5em;
}

/*lamp stuff*/

#lamp{
  width: .5em;
  height: 14em;
  top: 13em;
  right: 10em;
  background: #ffd633;
  z-index: 15;
}

#lamp #base{
  height: 1em;
	width: 4.5em;
	border-radius: 50%;
	background: #ffcc00;
	bottom: 0em;
  right: -2em;
}

#lamp #darkshade{
  border-bottom: 4.5em solid darkolivegreen;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 4em;
	height: 0em;
  right:calc(-1em - 1.8em);
  z-index: -18;
  top: 0em;
}

#lamp #lightshade{
  border-bottom: 4.5em solid greenyellow;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
  width: 4em;
	height: 0em;
  right:calc(-1em - 1.8em);
  z-index: -18;
  top: 0em;
}

#lamp #lamplight{
  border-bottom: 4.5em solid rgba(255, 255, 179, .5);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
  width: 8em;
	height: 4em;
  right:calc(-1em - 3.8em);
  z-index: -18;
  top: -.5em;
}

/*bee code modified from https://codepen.io/ksksoft/pen/lsqEo */

#bee {
	margin: 4em auto;
	background: transparent;
	width: 8em;
	height: 4em;
  left: 30em;
	position: absolute;
	-webkit-transform-origin: center center 0;
	-webkit-animation: flip 1.5s infinite step-end;
  z-index: 70;
}
#bee:before {
	content: "";
	position: absolute;
	top:12em;
	left:3.5em;
	width: 1em;
	height: 4em;
	background: transparent;
	box-shadow:0 -0.3em 0 0 yellow,0 0.3em 0 0 yellow inset;
	-webkit-transform-origin: center bottom 0;
	-webkit-animation: roll 1.5s infinite linear;
  z-index:0;
}

@-webkit-keyframes roll {
	100% { -webkit-transform: rotateZ(-2turn); }
}

@-webkit-keyframes flip {
  12.5%{-webkit-transform: rotateY(0.5turn) translate(8em,0);}
  62.5%{transform: rotateY(0turn);}
}

/*table stuffis*/

#table{
  height: 3em;
	width: 11em;
	border-radius: 50%;
	background: #331100;
	top: 23em;
  right: 10.5em;
  z-index: 20;
}

#table #legleft{
  width: .5em;
  height: 4.5em;
  top: 2.5em;
  right: 9em;
  background: #4d1b00;
}

#table #legright{
  width: .5em;
  height: 4.5em;
  top: 2.5em;
  right: 1.5em;
  background: #4d1b00;
}

#table #legbackleft{
  width: .5em;
  height: 4em;
  top: 1em;
  right: 7em;
  background: #331100;
}

#table #legbackright{
  width: .5em;
  height: 4em;
  top: 1em;
  right: 3.5em;
  background: #331100;
}

/*flowerpot et al.*/

#flowerpot{
  border-top: 2.5em solid peachpuff;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  width: 2.5em;
	height: 0;
  top: 22em;
  right: 12.5em;
  z-index: 40;
}

#flowerpot #dirt{
  height: .8em;
	width: 3.5em;
	border-radius: 50%;
	background: #4d3319;
	top: -2.5em;
  right: -.5em;
}

#flowerpot #flowerbox{
  width: 50px;
  height: 75px;
  top: -2em;
  right: -.5em;
}

/*water in glass*/

#glass{
  width: 1.5em;
	height: 3em;
	border: .1em solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
	top: 22.1em;
	right: 18em;
	background: rgba(255, 255, 255, 0.3);
  z-index: 40;
}

#glass #water{
  width: 1.5em;
  height: 1.7em;
  background: #3366ff;
  top: 1.3em;
}


#epipen{
  height: .7em;
  width: 1.7em;
  background:#ffcc00;
  border-left: .2em solid blue;
  border-right: .4em solid orange;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  top: 24.8em;
  right: 14.5em;
  z-index: 40;
}
/*fireplace*/

 #fireplace{
  border-left: 5em solid #800000;
 	border-top: .8em solid transparent;
 	border-bottom: 6.79em solid transparent;
 	height: 9em;
 	width: 0;
  top: 17em;
  left:3em;
  z-index: 50;
 }

 #fireplace #edge{
   height: 16.79em;
   width: 2em;
   top:-.79em;
   right: 5em;
   background: #660000;
 }

 #fireplace #inneredge{
   height: 8.4em;
   width: 2em;
   top: 2em;
   right: 1em;
   background: #660000;
 }

 #fireplace #innersliver{
	width: 0;
	height: 0;
	border-top: 2.79em solid #4d0000;
	border-right: 2em solid transparent;
  top: 10.4em;
  right: 1em;
 }

 #fireplace #fire{
  background: rgba(225, 225, 102, .8);
 	width: 1.5em;
 	height: 2em;
  top: 9.3em;
  right: 1.5em;
 	border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 	-webkit-animation: 0.33s flicker infinite alternate ease-in-out;
 }

 #fireplace #firebig{
  background: rgba(225, 225, 102, .8);
 	width: 5em;
 	height: 8em;
  top: 4em;
  right: -2em;
 	border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 	-webkit-animation: 0.33s flicker infinite alternate ease-in-out;
 }

 #fireplace #fire #innards{
  background: rgba(225, 140, 26, .8);
 	width: .8em;
 	height: 1em;
  top: 1em;
  left: .4em;
 	border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 	-webkit-animation: 0.33s flicker infinite alternate ease-in-out;
 }
 #fireplace #firebig #innards{
  background: rgba(225, 140, 26, .8);
 	width: 3em;
 	height: 5em;
  top: 3em;
  left: 1em;
 	border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
 	-webkit-animation: 0.33s flicker infinite alternate ease-in-out;
 }

 @-webkit-keyframes flicker{
 	from{
 		transform: rotate(3deg);
 		opacity: 1;
 		padding-top: .125em;
 	}
 	to{
 		transform: rotate(-3deg);
 		opacity: .85;
 		padding-top: 0em;
 	}
 }

/*closet*/

#closet{
  width: 8em;
  height: 16em;
  background: #363636;
  left: 20%;
  top: 9.5em;
  z-index: 30;
}

#closet #door{
  width: 8em;
  height: 16em;
  background: #4d1b00;
}

#closet #knob{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: yellow;
  left: 10%;
  top: 55%;
}

#closet #slight{
  width: 7.5em;
  height: 16em;
  -webkit-transform: skewY(-5deg);
     -moz-transform: skewY(-5deg);
       -o-transform: skewY(-5deg);
  background: #4d1b00;
  left: .5em;
  top: .3em;
}

#closet #ajar{
	width: 6.5em;
	height: 16em;
	-webkit-transform: skewY(20deg);
	   -moz-transform: skewY(20deg);
	     -o-transform: skewY(20deg);
	background: #4d1b00;
  left: 8em;
  top: 1.2em;
}

#closet #shelf{
  height: .3em;
  width: 8em;
  background: #999999;
  top: 30%;
}

#closet #jar1{
  width: 2em;
	height: 2.5em;
	border: .1em solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
	top: calc(30% - 2.6em);
	right: 3.5em;
	background: black;
}

#closet #jar2{
  width: 2em;
	height: 2.5em;
	border: .1em solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
	top: calc(30% - 2.6em);
	right: 1em;
	background: #ffbf80;
}

/*chimenysweep*/

#chimenysweep{
  width: .5em;
  height: 9em;
  background: #1a1a1a;
  transform: rotate(-30deg);
  top: 7.5em;
  left: 4em;
}

#chimenysweep #bristle{
  width: .2em;
  height: 4em;
  background: #1a1a1a;
  transform: rotate(-90deg);
  top: -2em;
}

#chimenysweep #bristle2{
  width: .2em;
  height: 4em;
  background: #1a1a1a;
  transform: rotate(-82deg);
  top: -2em;
}
#chimenysweep #bristle3{
  width: .2em;
  height: 4em;
  background: #1a1a1a;
  transform: rotate(-104deg);
  top: -2em;
}
#chimenysweep #bristle4{
  width: .2em;
  height: 4em;
  background: #1a1a1a;
  transform: rotate(-96deg);
  top: -2em;
}

/*bookshelf*/

#bookshelf{
 border-right: 5em solid #735426;
 border-top: 3em solid transparent;
 border-bottom: 6.79em solid transparent;
 height: 19em;
 width: 0;
 top: 6em;
 right:1.5em;
 z-index: 10;
}

#bookshelf #edge{
  height: 29em;
  width: 1.5em;
  top:-3em;
  left: 5em;
  background: #604620;
}

#bookshelf #inneredge{
  height: 19em;
  width: 1.5em;
  top:0.2em;
  left: 0.2em;
  background: #604620;
}

/*code modified from https://css-tricks.com/stripes-css/*/

#bookshelf #book1{
  height: 2.5em;
  width: 4.5em;
  left: .2em;
  top: -1em;
  background: repeating-linear-gradient(
    to right,
    #f6ba52,
    #f6ba52 10px,
    #ffd180 10px,
    #ffd180 20px
    );
    -webkit-transform: skewY(-30deg);
}

#bookshelf #book2{
  height: 3em;
  width: 4.5em;
  left: .2em;
  top: 1em;
  background: repeating-linear-gradient(
    to right,
    #82ba67,
    #82ba67 10px,
    #82dd89 10px,
    #82dd89 20px
    );
    -webkit-transform: skewY(-20deg);
}

#bookshelf #book3{
  height: 3em;
  width: 4.5em;
  left: .2em;
  top: 3.6em;
  background: repeating-linear-gradient(
    to right,
    #fb267a,
    #fb267a 10px,
    #f81f40 10px,
    #f81f40 20px
    );
    -webkit-transform: skewY(-10deg);
}

#bookshelf #book4{
  height: 3em;
  width: 4.5em;
  left: .2em;
  top: 6.3em;
  background: repeating-linear-gradient(
    to right,
    #90b271,
    #90b271 10px,
    #b0d2a0 10px,
    #b0d2a0 20px
    );
    -webkit-transform: skewY(-2deg);
}

#bookshelf #book5{
  height: 3.2em;
  width: 4.5em;
  left: .2em;
  top: 9.1em;
  background: repeating-linear-gradient(
    to right,
    #2b1af9,
    #2b1af9 10px,
    #220ae0 10px,
    #220ae0 20px
    );
    -webkit-transform: skewY(4deg);
}

#bookshelf #book6{
  height: 3.2em;
  width: 4.5em;
  left: .2em;
  top: 12em;
  background: repeating-linear-gradient(
    to right,
    #c330fb,
    #c330fb 10px,
    #b028e0 10px,
    #b028e0 20px
    );
    -webkit-transform: skewY(12deg);
}

#bookshelf #book7{
  height: 3.5em;
  width: 4.5em;
  left: .2em;
  top: 14.6em;
  background: repeating-linear-gradient(
    to right,
    #938699,
    #938699 10px,
    #b3b6ab 10px,
    #b3b6ab 20px
    );
    -webkit-transform: skewY(24deg);
}

#bookshelf #book8{
  height: 3.7em;
  width: 4.5em;
  left: .2em;
  top: 17em;
  background: repeating-linear-gradient(
    to right,
    #f34630,
    #f34630 10px,
    #fa6a62 10px,
    #fa6a62 20px
    );
    -webkit-transform: skewY(34deg);
}
#bookshelf #bookbottom{
  height: 1.5em;
  width: 4.5em;
  left: .2em;
  top: 20em;
  background: #735426;
  -webkit-transform: skewY(42deg);
}

/*ladder*/

#ladder{
  height: 19em;
  width: .5em;
  background: #d5c490;
  transform: rotate(10deg);
  z-index: 40;
  top: 13em;
  right: 3.5em;
}

#ladder #left{
  height: 16em;
  width: .5em;
  background: #d5c490;
  top: 1em;
  right: 3em;
}

#ladder #rung1{
  height: .5em;
  width: 3.5em;
  background: #d5c490;
  top: 3em;
  right: 0em;
  transform: rotate(-6deg);
}
#ladder #rung2{
  height: .5em;
  width: 3.5em;
  background: #d5c490;
  top: 6em;
  right: 0em;
  transform: rotate(0deg);
}
#ladder #rung3{
  height: .5em;
  width: 3.5em;
  background: #d5c490;
  top: 9em;
  right: 0em;
  transform: rotate(6deg);
}
#ladder #rung4{
  height: .5em;
  width: 3.5em;
  background: #d5c490;
  top: 12em;
  right: 0em;
  transform: rotate(12deg);
}
#ladder #rung5{
  height: .5em;
  width: 3.5em;
  background: #d5c490;
  top: 15em;
  right: 0em;
  transform: rotate(20deg);
}

#pianobox{
  width: 240px;
  height: 250px;
  top: 19em;
  left: 11em;
  z-index: 50;
}

#pianobox #sheetmusic{
  width: 1.5em;
  height: 2.5em;
  background: white;
  top: 4.5em;
  left: 4.7em;
  transform: skewY(15deg);
  z-index: 60;
}


#vampirebox{
  width: 450px;
  height: 300px;
  top: 13em;
  left: 8em;
  z-index: 70;
}

#sinkbox{
  width: 100px;
  height: 150px;
  top: 16.5em;
  left: 24.5em;
  z-index: 40;
}

#sinkbox #water{
  border-bottom: 1.6em solid rgba(0, 102, 255, .8);
	border-left: .9em solid transparent;
	border-right: .9em solid transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  width: 3.8em;
	height: 0;
  top: 1.6em;
}

#sinkbox #drip1{
  width: .4em;
  height: 3em;
  background:rgba(0, 102, 255, .8);
  top: 3em;
  left: 1em;
}

#sinkbox #drip2{
  width: .4em;
  height: 4.5em;
  background:rgba(0, 102, 255, .8);
  top: 3em;
  left: 3em;
}
#sinkbox #drip3{
  width: .4em;
  height: 2em;
  background:rgba(0, 102, 255, .8);
  top: 3em;
  left: 4em;
}

#sinkbox #puddle{
  width: 4em;
  height: 1em;
  background:rgba(0, 102, 255, .8);
  border-radius: 50%;
  bottom: -1em;
  left: 1em;
}

#sootvampire{
  width: 0;
	height: 0;
	border-left: 3em solid transparent;
	border-right: 3em solid transparent;
	border-bottom: 1.5em solid #b3b3b3;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  left: 7em;
  top: 25em;
  z-index: 40;
}

#sootfire{
  width: 0;
	height: 0;
	border-left: 1.1em solid transparent;
	border-right: 1.4em solid transparent;
	border-bottom: .7em solid #b3b3b3;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  left: 4.9em;
  top: 28.5em;
  z-index: 55;
}
